/* variables */
:root {
    --primary-color: #ec4537;
    --secondary-color: #1d1818;
    --textBorder-color: #ffffff;
}

/* default resets */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* fonts */

@import url('https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

body {
    width: 100%;
    height: 100vh;
    margin-bottom: 30px;
    background: linear-gradient(45deg, var(--primary-color) 0%, var(--secondary-color) 47%, rgba(70,125,142,1) 10200%);
    font-family: 'Space Mono', monospace;
    color: white;
    display: flex;
    flex-direction: column;
}

a {
    outline: none;
    text-decoration: none;
    color: var(--textBorder-color);
}


/* mobile-first */
.menu {
    width: 90%;
    padding-bottom: 10px;
    margin: -50px auto;
    text-align: center;
}



.header {
    width: 80%;
    margin-left: 20%;
    margin-right: 0;
    border-top: 3px solid var(--primary-color);
    border-radius: 0% 100% 0% 78% / 100% 84% 0% 0%;
    text-align: right;
}

.header__marsPicsLogo {
    position: fixed;
    width: 50px;
    top: .75em;
    right: .75em;
    z-index: 2;
}


.empty {
    width: 45px;
    padding-top: 10em;
}

.empty2 {
    height: 100px;
}



.menu__img {
    width: 120px;
    height: 120px;
  
    border-radius: 50%;
}

.menu__roverTitle {
    font-size: 1.5rem;
    font-weight: 400;
    letter-spacing: .25rem;
}

#menu__roverIcons {
    width: 45%;
    margin: 30px auto;
    border-left: 3px solid  rgba(196, 20, 20, 0.0);
    border-right: 3px solid rgba(196, 20, 20, 0.0);
    border-radius: 50px;
    animation: pulse 2s  2  .5s alternate;
}

@keyframes pulse {
    0% {
        border-color:  rgba(196, 20, 20, 0.0);
    }
    50% {
        border-color:  rgba(196, 20, 20, 0.9);
    }

    100% {
        border-color: rgba(196, 20, 20, 0.0);
    }
}
.menu__roverIcons img {
    width: 35px;
}

.menu__components {
    margin: 18px 0;
}


input, button {
    display: inline-block;
    width: 220px;
    margin: 10px;
    margin: 0 auto;
}

input {
    background: transparent;
    color: var(--textBorder-color);
    border: 2px solid var(--textBorder-color);
    text-align: center;
    padding: .2em .5em;
    outline: none;  
}

input::-webkit-calendar-picker-indicator {
    filter: invert(1);
}

#dateMessage {
    color: var(--primary-color);
}

button {
    color: var(--primary-color);
    font-weight: 600;
    text-transform: uppercase;
    border: 1px solid var(--textBorder-color);
    border-radius: 50px;
    padding: .35em;
    outline: none;
    cursor: pointer;
    
}

button:hover {
    background-color: var(--primary-color);
    color: var(--textBorder-color);
    border-color: var(--primary-color)
}

.menu__inputValues {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}



footer {
    width: 100%;
    margin-top:-50px;
    font-size: 1rem;
    font-weight: 400;
    text-align: center;
    padding: 1em 0;
}

footer h6 {
    color: rgba(255, 255, 255, 0.1);
}



/* photo gallery */
.photoGallery {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.85);
    border-radius: 0% 100% 0% 0% / 0% 20% 0% 0%;
    overflow: hidden;
    text-align: center;
}

.container {
    width: 100%;
    max-width: 900px;
    margin: 0 auto;
    text-align: center;
    padding-bottom: 1em;
}

#current {
    position: sticky;
    top: 50px;
}

.main {
    height: 100%;
    max-height: 500px;
    overflow: hidden;
}

.main img, .imgs img {
   width: 100%;
   max-height: 500px;
}

.imgs img {
    opacity: 0.6;
}

.imgs {
    width: 70%;
    margin: 30px auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 5px;
}

#loading {
    padding: 5em;
}

.fade-in {
    opacity: 0;
    animation: fadein 0.2s ease-in forwards;
}

@keyframes fadein {
    to{
        opacity: 1
    }
}



/*tablets*/
@media screen and (min-width: 530px) {
    #menu__roverIcons {
        width: 40%;
    }

    /* .main img, .imgs img {
        width: 70%;
     } */

}

@media screen and (min-width: 800px) {
    #menu__roverIcons {
        width: 30%;
    }

    .imgs {
        width: 40%;
    }

    .photoGallery {
        overflow: scroll;
    }
}


/*desktop*/
@media screen and (min-width: 1000px) {
    #menu__roverIcons {
        width: 18%;
    }
}

